<head>
  <link href="./img/favicon.png" rel="shortcut icon"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="../third-party-js/launchpad.js"></script>
  <meta content="Launchpad by Anima" name="author"/>
</head>
<body style="margin: 0;
 background: rgba(204, 231, 204, 1.0);">
<input id="anPageName" name="page" type="hidden" value="home"/>
<div class="bp1-home">
  <div style="width: 1400px; height: 100%; position:relative; margin:auto;">
    <div>
      <div class="bp1-rectangle">
      </div>
      <div class="bp1-path4">
        <img src="assets/img/home-path-4-copy.png" class="bp1-path4copy"/>
      </div>
      <div class="bp1-contactus">
        <div class="bp1-contactus1">
          Contact Us
        </div>
        <div class="bp1-wanttogetmoreinf">
          <span class="bp1-span1">Want to get more info, hit us at: </span><a href="mailto:contact@4re.in?subject=I%20want%20to%20get%20more%20info%20about%204RE"><span class="bp1-span2">contact@4re.in</span></a>
        </div>
      </div>
      <div class="bp1-aboutus bp1-aboutus-para">
        <div class="bp1-partnerwithus">
          <img src="assets/img/home-base-copy.png" class="bp1-basecopy"/>
          <div class="bp1-areyouabusinessl">
            <span class="bp1-span1">Are you a  business looking to offer RE-usable packaging solutions? We strongly believe that together we can make a difference. Write to </span><a href="mailto:contact@4re.in?subject=I%20want%20to%20get%20more%20info%20about%204RE"><span class="bp1-span2">contact@4re.in</span></a>
          </div>
          <div class="bp1-partnerwithus1">
            PARTNER WITH US
          </div>
        </div>
        <div class="bp1-whoarewe">
          <img src="assets/img/home-base.png" class="bp1-base"/>
          <div class="bp1-weareagroupofin">
            We are a group of individuals who are trying to put together a ground breaking platform that offers ZERO waste packaging solutions.We envision replacing all plastic pacakging with 4RE packaging so that it can be REturned, REwarded, REcycled and  REused - the 4 REs.
          </div>
          <div class="bp1-whoarewe1">
            WHO ARE WE?
          </div>
        </div>
        <div class="bp1-aboutus1" id="auweb" #aboutus>
          <a name="about"></a>
          About Us
        </div>
      </div>
      <div class="bp1-faq bp1-faq-para">
        <div class="bp1-stillhavequestions">
          <span class="bp1-span1">Still have questions on your mind? Write to </span><a href="mailto:contact@4re.in?subject=I%20want%20to%20get%20more%20info%20about%204RE"><span class="bp1-span2">contact@4re.in</span><span class="bp1-span3"></span></a>, we love getting them and will respond as soon as possible.
        </div>
        <div class="bp1-group3">
          <div class="bp1-question">
            <div class="bp1-youwillgetyourse">
              You will get your security deposit credited in your pre-selected wallet, post entering the code shared by the pick up agent
            </div>
            <div class="bp1-howwilligetrewar">
              How will I get rewarded?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-4@2x.png" class="bp1-base"/>
              <div class="bp1-a07">
                07
              </div>
            </div>
          </div>
          <div class="bp1-question1">
            <div class="bp1-yestheretailersp">
              Yes, the retailers pay a small service fee  to procure the clean bags.
            </div>
            <div class="bp1-dotheretailerspay">
              Do the retailers pay for procuring the packaging?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-2@2x.png" class="bp1-base"/>
              <div class="bp1-a08">
                08
              </div>
            </div>
          </div>
          <div class="bp1-question2">
            <div class="bp1-indeed4reensures">
              Indeed. 4RE ensures that the packaging is fresh, every single time you pick it up from the retailers.
            </div>
            <div class="bp1-canireusethepack">
              Can I reuse the packaging?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-6@2x.png" class="bp1-base" />
              <div class="bp1-a09">
                09
              </div>
            </div>
          </div>
        </div>
        <div class="bp1-group31">
          <div class="bp1-question">
            <div class="bp1-scantheqrcodeon">
              Scan the QR code on the packaging or visit 4RE.com to place a PICKUP request. If you are a first time user, it will need your phone # and address to create your profile. Once done, all you need is to enter the # of bags and select a time slot to schedule a pick up.
            </div>
            <div class="bp1-howcanireturnthe">
              How can I return the packaging?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-4@2x.png" class="bp1-base"/>
              <div class="bp1-a04">
                04
              </div>
            </div>
          </div>
          <div class="bp1-question1">
            <div class="bp1-pickupagentwills">
              Pick up agent will share a code once he is accpeted the packaging. It is an acknowledgement that the detail entered by you are correct.
            </div>
            <div class="bp1-whydoineedtoent">
              Why do I need to enter the code shared by the pick up agent?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-2@2x.png" class="bp1-base"/>
              <div class="bp1-a05">
                05
              </div>
            </div>
          </div>
          <div class="bp1-question2">
            <div class="bp1-youmaydoitatyou">
              You may do it at your earliest convienent slot. It is preferred that you return the packaging at the earliest, so that other community members can also leverage it.
            </div>
            <div class="bp1-doineedtoreturn">
              Do I need to return the packaging immediately?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-6@2x.png" class="bp1-base"/>
              <div class="bp1-a06">
                06
              </div>
            </div>
          </div>
        </div>
        <div class="bp1-group1">
          <div class="bp1-question">
            <div class="bp1-weareworkinghard">
              We are working hard to expand rapidly, but as of now we are available only with selected partners.
            </div>
            <div class="bp1-wherecanigetthe">
              Where can I get the 4RE pacakging?<br />
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-4@2x.png" class="bp1-base"/>
              <div class="bp1-a01">
                01
              </div>
            </div>
          </div>
          <div class="bp1-question1">
            <div class="bp1-yourretailermaych">
              Your retailer may charge a small service fee, similar to paper or plastic bags. In addition, you will need to pay a nominal security deposit.
            </div>
            <div class="bp1-howmuchdoineedt">
              How much do I need to pay for 4RE packaging?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-2@2x.png" class="bp1-base"/>
              <div class="bp1-a02">
                02
              </div>
            </div>
          </div>
          <div class="bp1-question2">
            <div class="bp1-depositistocover">
              Deposit is to cover for the packaging cost  and will be fully refundable post entering the code shared by the 4RE pick up agent.
            </div>
            <div class="bp1-whydoihavetopay">
              Why do I have to pay deposit amount?
            </div>
            <div class="bp1-number">
              <img src="assets/img/home-base-6@2x.png" class="bp1-base"/>
              <div class="bp1-a03">
                03
              </div>
            </div>
          </div>
        </div>
        <div class="bp1-frequentlyaskedque" id="faqweb" #faq>
          <a name="faq"></a>
          Frequently Asked Questions
        </div>
      </div>
      <div class="bp1-whyreuse bp1-whyreuse-para">
        <img src="assets/img/home-mask.png" class="bp1-mask"/>
        <img src="assets/img/home-fill-582.png" class="bp1-fill582"/>
        <img src="assets/img/home-group-880.png" class="bp1-group880"/>
        <div class="bp1-whilerecyclingiso">
          While recycling is of immense value but it will still keep generating some plastic waste that would still end-up in landfills. It still doesn't have a signifcant impact on the carbon footprint. In contrast, re-use has to make us a ZERO waste community, it also reduces our carbon footprint significantly and  is far more energy efficient solution. <br /><br />At 4RE, our focus is to  build sustainable, convenient and affordable pacakging solutions that shall accelerate the RE-use of materials
        </div>
        <div class="bp1-whyreuse1" id="wrweb" #whyreuse>
          <a name="why-reuse"></a>
          Why reuse?
        </div>
      </div>
      <div class="bp1-howitworks">
        <div class="bp1-rectangle7">
        </div>
        <div class="bp1-step4">
          <div class="bp1-readyitforyourne">
            Ready it for your next purchase
          </div>
          <div class="bp1-wepickcleanpla">
            We pick, clean &amp; place it back at retailers for your next purchase
          </div>
          <img src="assets/img/home-oval@2x.png" class="bp1-oval"/>
          <img src="assets/img/mobile-home-oval-7@2x.png" class="bp1-oval1"/>
          <div class="bp1-a4">
            4
          </div>
        </div>
        <div class="bp1-step3">
          <div class="bp1-youenterthepickup">
            You enter the pickup code shared by agent &amp; we credit the deposit in your wallet
          </div>
          <div class="bp1-scheduleafreepick">
            Schedule a free pickup
          </div>
          <img src="assets/img/home-oval-2@2x.png" class="bp1-oval"/>
          <img src="assets/img/mobile-home-oval-7@2x.png" class="bp1-oval1"/>
          <div class="bp1-a3">
            3
          </div>
        </div>
        <div class="bp1-step2">
          <div class="bp1-yourretailerwillc">
            Your retailer will charge a nominal returnable deposit
          </div>
          <div class="bp1-payasmalldeposit">
            Pay a small deposit
          </div>
          <img src="assets/img/mobile-home-oval-4@2x.png" class="bp1-oval"/>
          <img src="assets/img/mobile-home-oval-7@2x.png" class="bp1-oval1"/>
          <div class="bp1-a2">
            2
          </div>
        </div>
        <div class="bp1-step1">
          <div class="bp1-choosea4repackagi">
            Choose a 4RE packaging
          </div>
          <div class="bp1-reusablesolutionsc">
            Reusable solutions conveniently placed at your retailers
          </div>
          <img src="assets/img/home-oval-6@2x.png" class="bp1-oval"/>
          <img src="assets/img/mobile-home-oval-7@2x.png" class="bp1-oval1"/>
          <div class="bp1-a1">
            1
          </div>
        </div>
        <div class="bp1-howitworks1" #howitworks id="hiwweb">
          <a name="how-it-works" id="how-it-works-web"></a>
          How it works?
        </div>
      </div>
      <div class="bp1-top">
        <img src="assets/img/home-image.png" class="bp1-image"/>
        <a href="/get-started">
          <div class="bp1-button">
            <div class="bp1-group13">
              <div class="bp1-rectangle1">
              </div>
              <div class="bp1-u21b3u270fufe0fvalue">
                Request Pickup
              </div>
            </div>
          </div>
        </a>
        <div class="bp1-convenientsmart">
          Convenient, Smart &amp; Affordable solutions to help eliminate plastic packaging.
        </div>
        <div class="bp1-gozerowasteswitch">
          <span class="bp1-span1">Go ZERO Waste</span><span class="bp1-span2"><br /></span><span class="bp1-span3">Switch to 4RE's Reusable Packaging</span>
        </div>
      </div>
    </div>
    <div class="bp1-headerlogout">
      <div class="bp1-background">
      </div>
      <div class="bp1-headerbase">
        <div class="bp1-background1">
        </div>
        <div class="bp1-base">
          <img src="assets/dashboard-pickups-pending-background.png"/>
          <img src="assets/img/dashboard-pickups-pending-background.png" class="bp1-background2"/>
          <a href="/">
            <div class="bp1-logo">
              <div class="bp1-background3">
              </div>
              <div class="bp1-group">
                <div class="bp1-group2">
                  <img src="assets/img/request-pickup-fill-559@2x.png" class="bp1-fill559"/>
                  <img src="assets/img/request-pickup-fill-557@2x.png" class="bp1-fill557"/>
                  <img src="assets/img/authetication-get-otp-fill-569@2x.png" class="bp1-fill569"/>
                </div>
                <img src="assets/img/dashboard-pickups-pending-fill-561@2x.png" class="bp1-fill561"/>
                <div class="bp1-group3">
                  <img src="assets/img/dashboard-pickups-pending-fill-563@2x.png" class="bp1-fill563"/>
                  <img src="assets/img/authetication-get-otp-fill-565@2x.png" class="bp1-fill565"/>
                  <img src="assets/img/authetication-get-otp-fill-567@2x.png" class="bp1-fill567"/>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="bp1-menu">
          <a (click)="scrollWeb(howitworks, 'howitworks')">
            <div class="bp1-howitworks1">
              How it works?
            </div>
          </a>
          <a (click)="scrollWeb(whyreuse, 'whyreuse')">
            <div class="bp1-whyreuse1">
              Why reuse?
            </div>
          </a>
          <a (click)="scrollWeb(faq, 'faq')">
            <div class="bp1-faq1">
              FAQ
            </div>
          </a>
          <a (click)="scrollWeb(aboutus, 'aboutus')">
            <div class="bp1-aboutus1">
              About us
            </div>
          </a>
        </div>
      </div>
      <a class="link-btn"  (click)="takeMe()">
        <div class="bp1-button">
          <div class="bp1-rectangle1">
          </div>
          <div class="bp1-text">
            <div class="bp1-u21b3u270fufe0fvalue bp1-u21b3u270fufe0fvalue-para">
              Request Pickup
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="bp2-mobilehome">
  <div style="width: 360px; height: 100%; position:relative; margin:auto;">
    <div class="bp2-group">
      <div class="bp2-rectangle">
      </div>
      <img src="assets/img/mobile-home-path-4-copy.png" class="bp2-path4copy"/>
    </div>
    <div class="bp2-contactus">
      <div class="bp2-contactus1">
        Contact Us
      </div>
      <div class="bp2-wanttogetmoreinf">
        <span class="bp2-span1">Want to get more info, hit us at: </span><a href="mailto:contact@4re.in?subject=I%20want%20to%20get%20more%20info%20about%204RE"><span class="bp2-span2">contact@4re.in</span></a>
      </div>
    </div>
    <div class="bp2-aboutus">
      <div class="bp2-partnerwithus">
        <img src="assets/img/mobile-home-base-copy.png" class="bp2-basecopy"/>
        <div class="bp2-areyouabusinessl">
          <span class="bp2-span1">Are you a  business looking to offer RE-usable packaging solutions? We strongly believe that together we can make a difference. Write to </span><a href="mailto:contact@4re.in?subject=I%20want%20to%20partner%20with%204RE"><span class="bp2-span2">contact@4re.in</span></a>
        </div>
        <div class="bp2-partnerwithus1">
          PARTNER WITH US
        </div>
      </div>
      <div class="bp2-whoarewe">
        <img src="assets/img/mobile-home-base.png" class="bp2-base"/>
        <div class="bp2-weareagroupofin">
          We are a group of individuals who are trying to put together a ground breaking platform that offers ZERO waste packaging solutions.We envision replacing all plastic pacakging with 4RE packaging so that it can be REturned, REwarded, REcycled and  REused - the 4 REs.
        </div>
        <div class="bp2-whoarewe1">
          WHO ARE WE?
        </div>
      </div>
      <div class="bp2-aboutus1" id="aumobile">
        <a name="about"></a>
        About Us
      </div>
    </div>
    <div class="bp2-faq" id="faqmobile">
      <a (click)="viewAllQuesForMob()">
        <div class="bp2-viewallquestions">
          View all questions
        </div>
      </a>
      <div class="bp2-group1">
        <div class="bp2-question">
          <div class="bp2-weareworkinghard">
            We are working hard to expand rapidly, but as of now we are available only with selected partners.
          </div>
          <div class="bp2-wherecanigetthe">
            Where can I get the 4RE pacakging?<br />
          </div>
          <div class="bp2-number">
            <img anima-src="./img/mobile-faq-base-5@2x.png" class="bp2-base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="bp2-a01">
              01
            </div>
          </div>
        </div>
        <div class="bp2-question1">
          <div class="bp2-yourretailermaych">
            Your retailer may charge a small service fee, similar to paper or plastic bags. In addition, you will need to pay a nominal security deposit.
          </div>
          <div class="bp2-howmuchdoineedt">
            How much do I need to pay for 4RE packaging?
          </div>
          <div class="bp2-number">
            <img anima-src="./img/mobile-faq-base-5@2x.png" class="bp2-base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="bp2-a02">
              02
            </div>
          </div>
        </div>
        <div class="bp2-question2">
          <div class="bp2-depositistocover">
            Deposit is to cover for the packaging cost  and will be fully refundable post entering the code shared by the 4RE pick up agent.
          </div>
          <div class="bp2-whydoihavetopay">
            Why do I have to pay deposit amount?
          </div>
          <div class="bp2-number">
            <img anima-src="./img/mobile-faq-base-5@2x.png" class="bp2-base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="bp2-a03">
              03
            </div>
          </div>
        </div>
      </div>
      <div class="bp2-frequentlyaskedque" id="None">
        Frequently Asked Questions
      </div>
    </div>
    <div class="bp2-whyreuse">
      <img src="assets/img/mobile-home-mask.png" class="bp2-mask"/>
      <img src="assets/img/mobile-home-fill-582.png" class="bp2-fill582"/>
      <img src="assets/img/mobile-home-group-880@2x.png" class="bp2-group880"/>
      <div class="bp2-whilerecyclingiso">
        While recycling is of immense value but it will still keep generating some plastic waste that would still end-up in landfills. It still doesn't have a signifcant impact on the carbon footprint. In contrast, re-use has to make us a ZERO waste community, it also reduces our carbon footprint significantly and  is far more energy efficient solution. <br /><br />At 4RE, our focus is to  build sustainable, convenient and affordable pacakging solutions that shall accelerate the RE-use of materials
      </div>
      <div class="bp2-whyreuse1" id="wrmobile">
        <a name="why-reuse"></a>
        Why reuse?
      </div>
    </div>
    <div class="bp2-howitworks">
      <div class="bp2-step4">
        <div class="bp2-readyitforyourne">
          Ready it for your next purchase
        </div>
        <div class="bp2-wepickcleanpla">
          We pick, clean &amp; place it back at retailers for your next purchase
        </div>
        <img src="assets/img/home-oval@2x.png" class="bp2-oval"/>
        <img src="assets/img/mobile-home-oval-7@2x.png" class="bp2-oval1"/>
        <div class="bp2-a4">
          4
        </div>
      </div>
      <div class="bp2-step3">
        <div class="bp2-youenterthepickup">
          You enter the pickup code shared by agent &amp; we credit the deposit in your wallet
        </div>
        <div class="bp2-scheduleafreepick">
          Schedule a free pickup
        </div>
        <img src="assets/img/home-oval-2@2x.png" class="bp2-oval"/>
        <img src="assets/img/mobile-home-oval-7@2x.png" class="bp2-oval1"/>
        <div class="bp2-a3">
          3
        </div>
      </div>
      <div class="bp2-step2">
        <div class="bp2-yourretailerwillc">
          Your retailer will charge a nominal returnable deposit
        </div>
        <div class="bp2-payasmalldeposit">
          Pay a small deposit
        </div>
        <img src="assets/img/mobile-home-oval-4@2x.png" class="bp2-oval"/>
        <img src="assets/img/mobile-home-oval-7@2x.png" class="bp2-oval1"/>
        <div class="bp2-a2">
          2
        </div>
      </div>
      <div class="bp2-step1">
        <div class="bp2-choosea4repackagi">
          Choose a 4RE packaging
        </div>
        <div class="bp2-reusablesolutionsc">
          Reusable solutions conveniently placed at your retailers
        </div>
        <img src="assets/img/home-oval-6@2x.png" class="bp2-oval"/>
        <img src="assets/img/mobile-home-oval-7@2x.png" class="bp2-oval1"/>
        <div class="bp2-a1">
          1
        </div>
      </div>
      <div class="bp2-howitworks1" id="hiwmobile">
        <a name="how-it-works"></a>
        How it works?
      </div>
    </div>
    <div class="bp2-top">
      <a href="/get-started">
        <div class="bp2-button">
          <div class="bp2-group13">
            <div class="bp2-rectangle">
            </div>
            <div class="bp2-u21b3u270fufe0fvalue">
              Request Pickup
            </div>
          </div>
        </div>
      </a>
      <div class="bp2-convenientsmart">
        Convenient, Smart &amp; Affordable solutions to help eliminate plastic packaging.
      </div>
      <div class="bp2-gozerowasteswitch">
        <span class="bp2-span1">Go ZERO Waste</span><span class="bp2-span2"><br /></span><span class="bp2-span3">Switch to 4RE's Reusable <br />Packaging</span>
      </div>
    </div>
    <div class="bp2-headermobilelogout" id="None">
      <img src="assets/img/mobile-dashboard-pickups-completed-background-2.png" class="bp2-background"/>
      <a href="/">
        <div class="bp2-logo">
          <div class="bp2-background1">
          </div>
          <div class="bp2-group1">
            <div class="bp2-group2">
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-559@2x.png" class="bp2-fill559"/>
              <img src="assets/img/mobile-dashboard-pickups-pending-fill-557@2x.png" class="bp2-fill557"/>
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-569@2x.png" class="bp2-fill569"/>
            </div>
            <img src="assets/img/mobile-dashboard-pickups-pending-fill-561@2x.png" class="bp2-fill561"/>
            <div class="bp2-group3">
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-563@2x.png" class="bp2-fill563"/>
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-565@2x.png" class="bp2-fill565"/>
              <img src="assets/img/mobile-authetication-get-otp-fill-567@2x.png" class="bp2-fill567"/>
            </div>
          </div>
        </div>
      </a>
      <img src="assets/img/mobile-dashboard-pickups-pending-shape@2x.png"
           (click)="openMobileMenuDialog()"
           class="bp2-shape"/>
      <a href="/get-started">
        <div class="bp2-button">
          <div class="bp2-rectangle">
          </div>
          <div class="bp2-text">
            <div class="bp2-u21b3u270fufe0fvalue bp2-u21b3u270fufe0fvalue-para">
              Request Pickup
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<script>
    anima_isHidden = function(e) {
        if (!(e instanceof HTMLElement)) return !1;
        if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
        return !1;
    };
    anima_loadAsyncSrcForTag = function(tag) {
        var elements = document.getElementsByTagName(tag);
        var toLoad = [];
        for (var i = 0; i < elements.length; i++) {
            var e = elements[i];
            var src = e.getAttribute("src");
            var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
            if (loaded) continue;
            var asyncSrc = e.getAttribute("anima-src");
            if (asyncSrc == undefined || asyncSrc.length == 0) continue;
            if (anima_isHidden(e)) continue;
            toLoad.push(e);
        }
        toLoad.sort(function(a, b) {
            return anima_getTop(a) - anima_getTop(b);
        });
        for (var i = 0; i < toLoad.length; i++) {
            var e = toLoad[i];
            var asyncSrc = e.getAttribute("anima-src");
            e.setAttribute("src", asyncSrc);
        }
    };
    anima_pauseHiddenVideos = function(tag) {
        var elements = document.getElementsByTagName("video");
        for (var i = 0; i < elements.length; i++) {
            var e = elements[i];
            var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
            var isHidden = anima_isHidden(e);
            if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                e.play();
            } else if (isPlaying && isHidden) {
                e.pause();
            }
        }
    };
    anima_loadAsyncSrc = function(tag) {
        anima_loadAsyncSrcForTag("img");
        anima_loadAsyncSrcForTag("iframe");
        anima_loadAsyncSrcForTag("video");
        anima_pauseHiddenVideos();
    };
    var anima_getTop = function(e) {
        var top = 0;
        do {
            top += e.offsetTop || 0;
            e = e.offsetParent;
        } while (e);
        return top;
    };
    anima_loadAsyncSrc();
    anima_old_onResize = window.onresize;
    anima_new_onResize = undefined;
    anima_updateOnResize = function() {
        if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
            anima_new_onResize = function(x) {
                if (anima_old_onResize != undefined) anima_old_onResize(x);
                anima_loadAsyncSrc();
            };
            window.onresize = anima_new_onResize;
            setTimeout(function() {
                anima_updateOnResize();
            }, 3000);
        }
    };
    anima_updateOnResize();
    setTimeout(function() {
        anima_loadAsyncSrc();
    }, 200);
</script>
<!-- End of Scripts -->
</body>
