<div class="for-web">
  <span class="dialog-header">
    <h1 mat-dialog-title>Enter Agent Code</h1>
  </span>
  <div mat-dialog-content>
    <div>
      <form [formGroup]="getDepositForm" style="padding-left: 10px;">

        <div class="form-line">
          <div class="form-field" style="padding-top: 15px">
            <div class="form-label">Size</div>
            <select formControlName="bagSize" class="form-field-dropdown gd-full-field">
              <option *ngFor="let bagSize of bagSizes" [value]="bagSize.size">
                {{bagSize.display}}
              </option>
            </select>
          </div>
          <div class="form-field" style="padding-top: 20px;">
            <div class="form-label">Number of Bags</div>
            <input matInput min="1" [className]="getDepositForm.get('noOfBags').errors && gdFormSubmitted ? 'form-value field-border-error' : 'form-value'" formControlName="noOfBags" type="number" placeholder="Number of Bags">
            <div class="field-error-hint" *ngIf="getDepositForm.get('noOfBags').errors && gdFormSubmitted">
              <span class="field-error-hint" *ngIf="getDepositForm.get('noOfBags').errors.required">Number of Bags is required</span>
              <span class="field-error-hint" *ngIf="getDepositForm.get('noOfBags').errors.min">Number of Bags must be greater than 0</span>
              <span class="field-error-hint" *ngIf="getDepositForm.get('noOfBags').errors.pattern">Number of Bags cannot have a decimal value</span>
            </div>
          </div>
          <div class="form-line-multiple-fields">
            <div class="form-field custom-short-field" style="padding-right: 20px">
              <div class="form-label">Credit &#x20b9; {{getAmt()}} To</div>
              <select formControlName="paymentType" class="form-field-dropdown gd-half-field" (change)="changePaymentType()">
                <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.name">
                  {{paymentType.name}}
                </option>
              </select>
            </div>
            <div class="form-field custom-short-field">
              <div class="form-label">PayTM Number</div>
              <input [className]="getDepositForm.get('accountId').errors && gdFormSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="accountId" type="text" placeholder="Enter PayTM number">
              <div class="field-error-hint" *ngIf="getDepositForm.get('accountId').errors && gdFormSubmitted">
                <span *ngIf="getDepositForm.get('accountId').errors.required; else invalidAccountIdWeb">PayTM number is required</span>
                <ng-template #invalidAccountIdWeb>PayTM number is invalid</ng-template>
              </div>
            </div>
          </div>
          <div class="form-field" style="padding-top: 20px">
            <div class="form-label">Agent Code</div>
            <input matInput formControlName="pickupCode" type="number" placeholder="Enter agent code" [className]="invalidPIN || (getDepositForm.get('pickupCode').errors && gdFormSubmitted) ? 'form-input field-border-error' : 'form-input'">
            <div class="field-error-hint" *ngIf="invalidPIN || (getDepositForm.get('pickupCode').errors && gdFormSubmitted)">
              <span *ngIf="invalidPIN && !(getDepositForm.get('pickupCode').errors)">Agent Code is invalid</span>
              <span *ngIf="(getDepositForm.get('pickupCode').errors && gdFormSubmitted)">Agent Code is required</span>
            </div>
          </div>

        </div>
        <br/><br/>
        <span style="font-size: 13px; padding-top: 15px">
          <mat-checkbox formControlName="touCheckbox" style="padding-right: 5px"></mat-checkbox>
          <span>By submitting the agent code, you confirm to receive &#x20b9; {{getAmt()}} in above account</span>
        </span>
      </form>


    </div>

  </div>
  <div mat-dialog-actions>
    <button class="cancel-button" (click)="onNoClick()">Cancel</button>
    <button class="submit-button" (click)="completePendingRequest()">Submit</button>
  </div>
</div>

<div class="for-mobile">
  <span class="dialog-header">
    <h1 mat-dialog-title style="font-size:20px; text-align: left; margin-top: -25px; margin-left: 10px">Enter Agent Code</h1>
  </span>
  <div mat-dialog-content style="margin-top: -25px">
    <div>
      <form [formGroup]="getDepositForm">

        <div class="form-line-mobile">
          <div class="gd-form-field-mobile">
            <div class="form-label">Number of Bags</div>
            <input matInput [className]="getDepositForm.get('noOfBags').errors && gdFormSubmitted ? 'form-input-disabled-mobile field-border-error' : 'form-input-disabled-mobile'" formControlName="noOfBags" type="number" placeholder="Number of Bags">
            <div class="field-error-hint-mobile" *ngIf="getDepositForm.get('noOfBags').errors && gdFormSubmitted">
              <span *ngIf="getDepositForm.get('noOfBags').errors.required">Number of Bags is required</span>
              <span *ngIf="getDepositForm.get('noOfBags').errors.min">Number of Bags must be greater than 0</span>
              <span *ngIf="getDepositForm.get('noOfBags').errors.pattern">Number of Bags cannot have a decimal value</span>
            </div>
          </div>
          <div class="form-line-multiple-fields-mobile">
            <div class="gd-form-field-mobile">
              <div class="form-label">Credit &#x20b9; {{getAmt()}} To</div>
              <select formControlName="paymentType" class="form-field-dropdown gd-half-field-mobile">
                <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.name">
                  {{paymentType.name}}
                </option>
              </select>
            </div>
            <div class="gd-form-field-mobile">
              <div class="form-label">PayTM Number</div>
              <input [className]="getDepositForm.get('accountId').errors && gdFormSubmitted ? 'form-value-mobile field-border-error' : 'form-value-mobile'" style="width: 140px;" matInput formControlName="accountId" type="text" placeholder="Enter PayTM number">
              <div class="field-error-hint" *ngIf="getDepositForm.get('accountId').errors && gdFormSubmitted">
                <span *ngIf="getDepositForm.get('accountId').errors.required; else invalidAccountIdMobile">PayTM number is required</span>
                <ng-template #invalidAccountIdMobile>PayTM number is invalid</ng-template>
              </div>
            </div>
          </div>
          <div class="gd-form-field-mobile" style="padding-top: 20px">
            <div class="form-label">Agent Code</div>
            <input matInput [className]="getDepositForm.get('pickupCode').errors && gdFormSubmitted ? 'form-input-mobile field-border-error' : 'form-input-mobile'" formControlName="pickupCode" type="number" placeholder="Enter agent code">
            <div class="field-error-hint-mobile" *ngIf="invalidPIN || (getDepositForm.get('pickupCode').errors && gdFormSubmitted)">
              <span *ngIf="invalidPIN && !(getDepositForm.get('pickupCode').errors)">Agent Code is invalid</span>
              <span *ngIf="(getDepositForm.get('pickupCode').errors && gdFormSubmitted)">Agent Code is required</span>
            </div>
          </div>

        </div>
        <div style="font-size: 13px; padding-top: 15px; padding-left: 10px; padding-right: 14px">
          <mat-checkbox formControlName="touCheckbox" style="padding-right: 5px"></mat-checkbox>
          <span>By submitting the agent code, you confirm to receive &#x20b9; {{getAmt()}} in above account</span>
        </div>
      </form>


    </div>

  </div>
  <div mat-dialog-actions style="flex-wrap: inherit !important;">
    <button class="cancel-button" (click)="onNoClick()">Cancel</button>
    <button class="submit-button" (click)="completePendingRequest()">Submit</button>
  </div>
</div>
