<div class="bp1-autheticationgetotp">
  <div style="width: 1400px; height: 100%; position:relative; margin:auto;">
    <div class="bp1-headerlogout">
      <div class="bp1-background">
      </div>
      <div class="bp1-headerbase">
        <div class="bp1-background1">
        </div>
        <div class="bp1-base">
          <img src="assets/img/dashboard-pickups-pending-background.png" class="bp1-background2" />
          <a href="/home-content">
            <div class="bp1-logo">
              <div class="bp1-background3">
              </div>
              <div class="bp1-group">
                <div class="bp1-group2">
                  <img src="assets/img/request-pickup-fill-559@2x.png" class="bp1-fill559" />
                  <img src="assets/img/request-pickup-fill-557@2x.png" class="bp1-fill557" />
                  <img src="assets/img/authetication-get-otp-fill-569@2x.png" class="bp1-fill569"/>
                </div>
                <img src="assets/img/dashboard-pickups-pending-fill-561@2x.png" class="bp1-fill561"/>
                <div class="bp1-group31">
                  <img src="assets/img/dashboard-pickups-pending-fill-563@2x.png" class="bp1-fill563"/>
                  <img src="assets/img/authetication-get-otp-fill-565@2x.png" class="bp1-fill565" />
                  <img src="assets/img/authetication-get-otp-fill-567@2x.png" class="bp1-fill567" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="bp1-menu">
          <a href="https://blogs.4re.in" target="_blank">
            <div class="bp1-blogs">
              Blogs
            </div>
          </a>
          <div class="bp1-aboutus">
            About us
          </div>
          <div class="bp1-faq">
            FAQ
          </div>
          <div class="bp1-whyreuse">
            Why reuse?
          </div>
          <div class="bp1-howitworks">
            How it works?
          </div>
        </div>
      </div>
      <a href="/get-started">
        <div class="bp1-button">
          <div class="bp1-rectangle">
          </div>
          <div class="bp1-text">
            <div class="bp1-u21b3u270fufe0fvalue">
              Get Started
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="bp2-mobileautheticationgetotp">
  <div style="width: 360px; height: 100%; position:relative; margin:auto;">
    <div class="bp2-group3">
      <div class="bp2-group2">
        <div class="bp2-group4">
          <img src="assets/img/mobile-authetication-get-otp-rectangle.png" class="bp2-rectangle" />
          <div class="bp2-group">
            <a href="requestpickup.html">
              <div class="bp2-button">
                <div class="bp2-rectangle1">
                </div>
                <div class="bp2-text3">
                  <div class="bp2-u21b3u270fufe0fvalue">
                    Submit
                  </div>
                </div>
              </div>
            </a>
            <a href="/home-content">
              <div class="bp2-button1">
                <div class="bp2-text3">
                  <div class="bp2-base">
                  </div>
                  <div class="bp2-u21b3u270fufe0fvalue">
                    Cancel
                  </div>
                </div>
              </div>
            </a>
            <div class="bp2-text2">
              <div class="bp2-u21b3u270fufe0fvalue">
                terms of use
              </div>
              <div class="bp2-u21b3u270fufe0fvalue1">
                I agree with the
              </div>
            </div>
            <style>
              .bp2-mobileautheticationgetotp .bp2-group3 .bp2-group2 .bp2-group4 .bp2-group .bp2-checkboxselected-38jy * {
                box-sizing          : border-box;
              }
              .bp2-mobileautheticationgetotp .bp2-group3 .bp2-group2 .bp2-group4 .bp2-group .bp2-checkboxselected-38jy {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 179px;
                height              : 26px;
                width               : 26px;
                position            : absolute;
                margin              : 0;
                left                : -1px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
              }
              .bp2-mobileautheticationgetotp .bp2-group3 .bp2-group2 .bp2-group4 .bp2-group .bp2-checkboxselected-38jy .bp2-bordershape {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0px;
                height              : 26px;
                box-sizing          : border-box;
                width               : 26px;
                position            : absolute;
                margin              : 0;
                left                : 0px;
                border-radius       : 4px;
                border-style        : solid;
                border-width        : 1px;
                border-color        : rgba(0, 175, 70, 1.0);
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
              }
              .bp2-mobileautheticationgetotp .bp2-group3 .bp2-group2 .bp2-group4 .bp2-group .bp2-checkboxselected-38jy .bp2-tick {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 7px;
                height              : 12px;
                width               : 15px;
                position            : absolute;
                margin              : 0;
                left                : 6px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
              }
            </style>
            <div id="xcfQwk0">
              <div class="bp2-checkboxselected bp2-checkboxselected-38jy component state1" data-initial-state="state1">
                <div class="bp2-bordershape">
                </div>
                <img class="bp2-tick" src="assets/img/settle-request-tick@2x.png"/>
              </div>
            </div>
            <script>
                if (typeof String.prototype.endsWith !== 'function') {
                    String.prototype.endsWith = function(suffix) {
                        return this.indexOf(suffix, this.length - suffix.length) !== -1;
                    };
                }
                if (!String.prototype.startsWith) {
                    String.prototype.startsWith = function(searchString, position) {
                        position = position || 0;
                        return this.indexOf(searchString, position) === position;
                    };
                }
                if (!Array.prototype.forEach) {
                    Array.prototype.forEach = function(callback) {
                        var T, k;
                        if (this == null) {
                            throw new TypeError('this is null or not defined');
                        }
                        var O = Object(this);
                        var len = O.length >>> 0;
                        if (typeof callback !== 'function') {
                            throw new TypeError(callback + ' is not a function');
                        }
                        if (arguments.length > 1) {
                            T = arguments[1];
                        }
                        k = 0;
                        while (k < len) {
                            var kValue;
                            if (k in O) {
                                kValue = O[k];
                                callback.call(T, kValue, k, O);
                            }
                            k++;
                        }
                    };
                }
                function toArray(obj) {
                    var array = [];
                    for (var i = obj.length >>> 0; i--; ) {
                        array[i] = obj[i];
                    }
                    return array;
                }
                function addClass(object, className) {
                    object.classList ? object.classList.add(className) : object.className += ' ' + className;
                }
                function removeAllClassesButFirst(component, skipClass) {
                    var classList = component.classList;
                    var componentClass = classList.item(0);
                    var toRemove = [];
                    var beforeComponent = true;
                    toArray(classList).forEach(function(className) {
                        beforeComponent = beforeComponent && className != 'component';
                        if (className != skipClass && className != componentClass && className != 'component' && !beforeComponent) {
                            toRemove.push(className);
                        }
                    });
                    toRemove.forEach(function(className) {
                        classList.remove(className);
                    });
                }
                function applyState(component, stateClass) {
                    var componentClass = component.classList.item(0);
                    component.className = componentClass;
                    component.classList.add(stateClass);
                }
                function isCurrentState(component, state) {
                    var classList = component.classList;
                    var rv = false;
                    toArray(classList).forEach(function(className) {
                        if (className.endsWith(state)) {
                            rv = true;
                        }
                    });
                    return rv;
                }
                function whichTransitionEvent() {
                    var t, el = document.createElement("fakeelement");
                    var transitions = {
                        "transition": "transitionend",
                        "OTransition": "oTransitionEnd",
                        "MozTransition": "transitionend",
                        "WebkitTransition": "webkitTransitionEnd"
                    };
                    for (t in transitions) {
                        if (el.style[t] !== undefined) {
                            return transitions[t];
                        }
                    }
                }
                var transitionEvent = whichTransitionEvent();
            </script>
            <div class="bp2-inputsimple">
              <div class="bp2-background">
              </div>
              <div class="bp2-input">
                <div class="bp2-border">
                  <div class="bp2-border1">
                  </div>
                </div>
                <div class="bp2-text3">
                  <input class="bp2-textenterotp" name="textEnterOtp" placeholder="Enter OTP"/>
                </div>
                <div class="bp2-label">
                  <div class="bp2-u21b3u270fufe0fvalue">
                    OTP
                  </div>
                </div>
              </div>
            </div>
            <div class="bp2-inputmobilegetotp">
              <div class="bp2-background">
              </div>
              <div class="bp2-inputmobile">
                <div class="bp2-input">
                  <div class="bp2-group1">
                    <div class="bp2-border">
                      <div class="bp2-borderbig">
                      </div>
                    </div>
                    <div class="bp2-text4">
                    </div>
                  </div>
                  <div class="bp2-country">
                    <div class="bp2-border">
                      <div class="bp2-bordersmall">
                      </div>
                    </div>
                    <div class="bp2-text4">
                    </div>
                  </div>
                  <div class="bp2-label">
                    <div class="bp2-u21b3u270fufe0fvalue1">
                      Mobile Number
                    </div>
                  </div>
                </div>
                <input class="bp2-textentermobilenumber" name="textEnterMobileNumber" placeholder="Enter mobile number"/>
                <div class="bp2-u21b3u270fufe0fvalue">
                  +91
                </div>
              </div>
              <div class="bp2-text3">
                <div class="bp2-u21b3u270fufe0fvalue">
                  Get OTP
                </div>
              </div>
            </div>
          </div>
          <div class="bp2-text">
            <div class="bp2-u21b3u270fufe0fvalue">
              This will help us in securing your account
            </div>
          </div>
          <div class="bp2-text1">
            <div class="bp2-u21b3u270fufe0fvalue">
              Get Started
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bp2-headermobilelogout">
      <img src="assets/img/mobile-dashboard-pickups-completed-background-2.png" class="bp2-background" />
      <a href="/home-content">
        <div class="bp2-logo">
          <div class="bp2-background1">
          </div>
          <div class="bp2-group">
            <div class="bp2-group2">
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-559@2x.png" class="bp2-fill559" />
              <img src="assets/img/mobile-dashboard-pickups-pending-fill-557@2x.png" class="bp2-fill557" />
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-569@2x.png" class="bp2-fill569" />
            </div>
            <img src="assets/img/mobile-dashboard-pickups-pending-fill-561@2x.png" class="bp2-fill561" />
            <div class="bp2-group31">
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-563@2x.png" class="bp2-fill563" />
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-565@2x.png" class="bp2-fill565" />
              <img src="assets/img/mobile-authetication-get-otp-fill-567@2x.png" class="bp2-fill567" />
            </div>
          </div>
        </div>
      </a>
      <img src="assets/img/mobile-dashboard-pickups-pending-shape@2x.png" class="bp2-shape" />
      <a href="/get-started">
        <div class="bp2-button">
          <div class="bp2-rectangle">
          </div>
          <div class="bp2-text">
            <div class="bp2-u21b3u270fufe0fvalue">
              Get Started
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
