<div>
  <app-header fxLayout="column"></app-header>
  <div class="mobilefaq">
    <div style="width: 360px; height: 100%; position:relative; margin:auto;">
      <div class="faq">
        <div class="stillhavequestions">
          <span class="span1">Still have questions on your mind? Write to </span><a href="mailto:contact@4re.com?subject=I%20want%20to%20get%20more%20info%20about%204RE"><span class="span2">contact@4re.in</span></a><span class="span3">, we love getting them and will respond as soon as possible.</span>
        </div>
        <div class="group3">
          <div class="question">
            <div class="youwillgetyourse">
              You will get your security deposit credited in your pre-selected wallet, post entering the code shared by the pick up agent
            </div>
            <div class="howwilligetrewar">
              How will I get rewarded?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a07">
                07
              </div>
            </div>
          </div>
          <div class="question1">
            <div class="yestheretailersp">
              Yes, the retailers pay a small service fee  to procure the clean bags.
            </div>
            <div class="dotheretailerspay">
              Do the retailers pay for procuring the packaging?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a08">
                08
              </div>
            </div>
          </div>
          <div class="question2">
            <div class="indeed4reensures">
              Indeed. 4RE ensures that the packaging is fresh, every single time you pick it up from the retailers.
            </div>
            <div class="canireusethepack">
              Can I reuse the packaging?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a09">
                09
              </div>
            </div>
          </div>
        </div>
        <div class="group31">
          <div class="question">
            <div class="scantheqrcodeon">
              Scan the QR code on the packaging or visit 4RE.com to place a PICKUP request. If you are a first time user, it will need your phone # and address to create your profile. Once done, all you need is to enter the # of bags and select a time slot to schedule a pick up.
            </div>
            <div class="howcanireturnthe">
              How can I return the packaging?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a04">
                04
              </div>
            </div>
          </div>
          <div class="question1">
            <div class="pickupagentwills">
              Pick up agent will share a code once he is accpeted the packaging. It is an acknowledgement that the detail entered by you are correct.
            </div>
            <div class="whydoineedtoent">
              Why do I need to enter the code shared by the pick up agent?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a05">
                05
              </div>
            </div>
          </div>
          <div class="question2">
            <div class="youmaydoitatyou">
              You may do it at your earliest convienent slot. It is preferred that you return the packaging at the earliest, so that other community members can also leverage it.
            </div>
            <div class="doineedtoreturn">
              Do I need to return the packaging immediately?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a06">
                06
              </div>
            </div>
          </div>
        </div>
        <div class="group1">
          <div class="question">
            <div class="weareworkinghard">
              We are working hard to expand rapidly, but as of now we are available only with selected partners.
            </div>
            <div class="wherecanigetthe">
              Where can I get the 4RE pacakging?<br />
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a01">
                01
              </div>
            </div>
          </div>
          <div class="question1">
            <div class="yourretailermaych">
              Your retailer may charge a small service fee, similar to paper or plastic bags. In addition, you will need to pay a nominal security deposit.
            </div>
            <div class="howmuchdoineedt">
              How much do I need to pay for 4RE packaging?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a02">
                02
              </div>
            </div>
          </div>
          <div class="question2">
            <div class="depositistocover">
              Deposit is to cover for the packaging cost  and will be fully refundable post entering the code shared by the 4RE pick up agent.
            </div>
            <div class="whydoihavetopay">
              Why do I have to pay deposit amount?
            </div>
            <div class="number">
              <img anima-src="./img/mobile-faq-base-5@2x.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
              <div class="a03">
                03
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text">
        <div class="label1">
          Frequently Asked Questions
        </div>
      </div>
    </div>
  </div>
</div>
