<div class="mob-menu-dialog-header">
  <div class="mob-menu-bp2-group1">
          <div class="bp2-group2">
            <img src="assets/img/mobile-dashboard-pickups-completed-fill-559@2x.png" class="bp2-fill559"/>
            <img src="assets/img/mobile-dashboard-pickups-pending-fill-557@2x.png" class="bp2-fill557"/>
            <img src="assets/img/mobile-dashboard-pickups-completed-fill-569@2x.png" class="bp2-fill569"/>
          </div>
          <img src="assets/img/mobile-dashboard-pickups-pending-fill-561@2x.png" class="bp2-fill561"/>
          <div class="bp2-group3">
            <img src="assets/img/mobile-dashboard-pickups-completed-fill-563@2x.png" class="bp2-fill563"/>
            <img src="assets/img/mobile-dashboard-pickups-completed-fill-565@2x.png" class="bp2-fill565"/>
            <img src="assets/img/mobile-authetication-get-otp-fill-567@2x.png" class="bp2-fill567"/>
          </div>
        </div>
  <div (click)="closeMobMenuDialog()"><i class="material-icons">close</i></div>
</div>
<div class="mob-menu-dialog-body">
  <div class="mob-menu-sub-header" (click)="scrollMobile('hiwmobile')">
    How it works?
  </div>
  <div class="mob-menu-sub-header" (click)="scrollMobile('wrmobile')">
    Why reuse?
  </div>
  <div class="mob-menu-sub-header" (click)="scrollMobile('faqmobile')">
    FAQ
  </div>
  <div class="mob-menu-sub-header" (click)="scrollMobile('aumobile')">
    About us
  </div>
</div>
