<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
<body style="margin: 0;
 background: rgba(233, 242, 233, 1.0);">
<input id="anPageName" name="page" type="hidden" value="dashboardpickupspending"/>
<div class="bp2-mobiledashboardpickupspending">
  <div style="width: 360px; height: 100%; position:absolute; margin:auto;">
    <div class="rewards-earned-form-container-mobile">
      <div class="parent-re-custom-header-mobile">
        <div class="header-container">
          <div class="header-text re-text-left">
            Deposit Refunded
          </div>
          <div class="header-hint re-text-left">
            It may take upto 4 hours to credit your account
          </div>
        </div>
        <div class="header-container" style="padding-top: 20px !important; padding-bottom: 20px; !important;">
          <div class="header-text re-text-left re-money-text-mobile">
            &#x20b9; {{rewardsEarned}}
          </div>
        </div>
      </div>
      <mat-tab-group style="padding-left: 10px; padding-top: 10px; padding-right: 10px">
        <mat-tab label="Pickups" style="width: 50%">
          <div style="padding-top: 5px">
            <div *ngIf="pendingReqSpinner == true" style="overflow: hidden; padding-top: 40px">
              <mat-spinner style="left: 40%"></mat-spinner>
            </div>
            <div *ngIf="!pendingReqSpinner && pendingPickups.length > 0">
              <h3 style="font-weight: 500">Pending Request(s)</h3>
              <div class="pending-requests-list">
                <div class="pending-request-box" *ngFor="let pendingPickup of pendingPickups">
                  <!--              <div class="pending-request-box">-->
                  <div>
                    <div style="padding-left: 10px">
                      <h2><p>&#x20b9; {{pendingPickup.totalValue}}</p></h2>
                      <!--                    <h2><p>&#x20b9; 100</p></h2>-->
                      <h2 style="font-size: 16.5px; font-weight: 400;" *ngIf="slotTodayOrTom(pendingPickup.startTime) === 'TODAY'">
                        <p>Today, {{pendingPickup.startTime | date: 'hh:mm a'}} - {{pendingPickup.endTime | date: 'hh:mm a'}}</p>
                      </h2>
                      <h2 style="font-size: 16.5px; font-weight: 400;" *ngIf="slotTodayOrTom(pendingPickup.startTime) === 'TOMORROW'">
                        <p>Tomorrow, {{pendingPickup.startTime | date: 'hh:mm a'}} - {{pendingPickup.endTime | date: 'hh:mm a'}}</p>
                      </h2>
                      <h2 style="font-size: 16.5px; font-weight: 400;" *ngIf="slotTodayOrTom(pendingPickup.startTime) === 'NONE'">
                        <p>{{pendingPickup.startTime | date: 'dd MMM yyyy, hh:mm a'}} - {{pendingPickup.endTime | date: 'hh:mm a'}}</p>
                      </h2>
                      <!--                    <h1 style="font-size: 20px; font-weight: 400;"><p>Today 04:00 PM - 06:00 PM</p></h1>-->
                      <h4><p>{{pendingPickup.paymentType}} ({{pendingPickup.accountId}})</p></h4>
                      <!--                    <h4><p>Amazon Pay (123)</p></h4>-->
                      <mat-chip>{{pendingPickup.noOfBags}} Bags</mat-chip>
                      <!--                    <mat-chip>10 Bags</mat-chip>-->
                    </div>
                  </div>
                  <div style="padding-left: 10px; padding-bottom: 10px; padding-top: 20px;">
                    <button class="cancel-button footer-btns-mobile" [disabled]="!canCancel(pendingPickup)" (click)="cancelPendingPickup(pendingPickup)">Cancel</button>
                    <button class="submit-button footer-btns-mobile" (click)="openGetDepositDialog(pendingPickup)">Add Pickup Code</button>
                    <!--                  <button class="submit-button footer-btns-mobile" (click)="openGetDepositDialog({})">Get Deposit</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div style="padding-bottom: 20px" *ngIf="!pendingReqSpinner && (!pendingPickups || pendingPickups.length == 0)">
                <div style="margin-left: 50%; transform: translateX(-35%);">
                  <img src="assets/img/mobile-dashboard-pickups-completed-group-61@2x.png" style="height: 80px; width: 100px;" />
                  <div style="padding-top: 15px">
                    <button class="submit-button" style="width: 115px;font-size: 13px;" (click)="navToReqPickup()">Request Pickup</button>
                  </div>
                </div>
              </div>
              <div style="margin-right: 20px; border-radius: 5px;" *ngIf="completedPickups.length > 0">
                <h3 class="re-user-req-completed-header">Completed Request(s)</h3>
                <div class="pending-requests-list">
                  <div class="completed-request-box" *ngFor="let completedPickup of completedPickups">
                    <!--              <div class="pending-request-box">-->
                    <div>
                      <div style="padding-left: 10px; padding-bottom: 10px">
                        <h2><p>&#x20b9; {{completedPickup.totalValue}}</p></h2>
                        <!--                    <h2><p>&#x20b9; 100</p></h2>-->
                        <h2 style="font-size: 16.5px; font-weight: 400;" *ngIf="slotTodayOrTom(completedPickup.startTime) === 'TODAY'">
                          <p>Today, {{completedPickup.startTime | date: 'hh:mm a'}} - {{completedPickup.endTime | date: 'hh:mm a'}}</p>
                        </h2>
                        <h2 style="font-size: 16.5px; font-weight: 400;" *ngIf="slotTodayOrTom(completedPickup.startTime) === 'TOMORROW'">
                          <p>Tomorrow, {{completedPickup.startTime | date: 'hh:mm a'}} - {{completedPickup.endTime | date: 'hh:mm a'}}</p>
                        </h2>
                        <h2 style="font-size: 16.5px; font-weight: 400;" *ngIf="slotTodayOrTom(completedPickup.startTime) === 'NONE'">
                          <p>{{completedPickup.startTime | date: 'dd MMM yyyy, hh:mm a'}} - {{completedPickup.endTime | date: 'hh:mm a'}}</p>
                        </h2>
                        <!--                    <h1 style="font-size: 20px; font-weight: 400;"><p>Today 04:00 PM - 06:00 PM</p></h1>-->
                        <h4><p>{{completedPickup.paymentType}} ({{completedPickup.accountId}})</p></h4>
                        <!--                    <h4><p>Amazon Pay (123)</p></h4>-->
                        <mat-chip>{{completedPickup.noOfBags}} Bags</mat-chip>
                        <!--                    <mat-chip>10 Bags</mat-chip>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Profile">
          <div style="padding-top: 10px">
            <form [formGroup]="userProfileForm">
              <div class="form-line-mobile">
                <div class="form-field" style="width: 285px">
                  <div class="form-label">Name</div>
                  <input matInput [className]="userProfileForm.get('name').errors && upFormSubmitted ? 'form-input field-border-error' : 'form-input'" formControlName="name" placeholder="Enter Name">
                  <span class="field-error-hint" *ngIf="userProfileForm.get('name').errors && upFormSubmitted">Name is required</span>
                </div>
                <div class="form-field-mobile" style="width: 285px">
                  <div class="form-label">Email</div>
                  <input matInput [className]="userProfileForm.get('email').errors && upFormSubmitted ? 'form-input field-border-error' : 'form-input'" formControlName="email" placeholder="Enter Email">
                  <span class="field-error-hint" *ngIf="userProfileForm.get('email').errors && upFormSubmitted">
                    <span *ngIf="userProfileForm.get('email').errors.required; else upInvalidEmailMobile">Email is required</span>
                    <ng-template #upInvalidEmailMobile>Email is invalid</ng-template>
                  </span>
                </div>
              </div>
              <div class="form-line-mobile">
                <div class="form-line-multiple-fields form-field-padding">
                  <div class="form-field custom-short-field" style="padding-right: 20px;">
                    <div class="form-label">Society</div>
                    <select formControlName="society" class="form-field-dropdown half-field" style="margin-top: 14px">
                      <option *ngFor="let society of societies" [value]="society.name">
                        {{society.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-field custom-short-field">
                    <div class="form-label">Flat Number</div>
                    <input [className]="userProfileForm.get('flatNumber').errors && upFormSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="flatNumber" type="text" placeholder="Ex T-102">
                    <span class="field-error-hint" *ngIf="userProfileForm.get('flatNumber').errors && upFormSubmitted">Flat Number is required</span>
                  </div>
                </div>
                <div class="form-line-multiple-fields">
                  <div class="form-field custom-short-field" style="padding-right: 20px">
                    <div class="form-label">Credit To</div>
                    <select formControlName="creditTo" class="form-field-dropdown half-field" (click)="changePaymentType()" style="margin-top: 14px">
                      <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.name">
                        {{paymentType.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-field custom-short-field">
                    <div class="form-label">Account Id</div>
                    <input [className]="userProfileForm.get('accountId').errors && upFormSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="accountId" type="text" placeholder="Enter account id">
                    <span class="field-error-hint" *ngIf="userProfileForm.get('accountId').errors && upFormSubmitted">
                      <span *ngIf="userProfileForm.get('accountId').errors.required; else upInvalidAccMobile">Account Id is required</span>
                      <ng-template #upInvalidAccMobile>Account Id is invalid</ng-template>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="padding-top: 45px; margin-left: 10px; height: 40px">
            <button class="cancel-button" (click)="resetUserProfile()">Reset</button>
            <button class="submit-button" (click)="updateProfile()">Save</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="re-bp2-headermobilelogin">
      <img src="assets/img/mobile-dashboard-pickups-completed-background-2.png" class="bp2-background" />
      <a href="/">
        <div class="bp2-logo">
          <div class="bp2-background1">
          </div>
          <div class="bp2-group">
            <div class="bp2-group2">
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-559@2x.png" class="bp2-fill559" />
              <img src="assets/img/mobile-dashboard-pickups-pending-fill-557@2x.png" class="bp2-fill557" />
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-569@2x.png" class="bp2-fill569" />
            </div>
            <img src="assets/img/mobile-dashboard-pickups-pending-fill-561@2x.png" class="bp2-fill561" />
            <div class="bp2-group3">
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-563@2x.png" class="bp2-fill563" />
              <img src="assets/img/mobile-dashboard-pickups-completed-fill-565@2x.png" class="bp2-fill565" />
              <img src="assets/img/mobile-authetication-get-otp-fill-567@2x.png" class="bp2-fill567" />
            </div>
          </div>
        </div>
      </a>
      <img (click)="openMobileMenuDialog()" src="assets/img/mobile-dashboard-pickups-pending-shape@2x.png" class="bp2-shape" />
      <div class="bp2-menu">
        <div class="bp2-myaccount">
          <button mat-button [matMenuTriggerFor]="menuMobile">
            <span class="bp2-myaccount">My Account</span>
            <mat-icon aria-hidden="true" role="img" class="menu-arrow mat-icon notranslate material-icons mat-icon-no-color">arrow_drop_down</mat-icon>
            <mat-menu #menuMobile="matMenu" class="re-dropdown-mobile">
              <button mat-menu-item (click)="openREScreen('PICKUPS')">My Deposits</button>
              <button mat-menu-item (click)="signOutFromRE()">Sign Out</button>
            </mat-menu>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bp1-dashboardpickupspending">
  <div style="width: 1400px; height: 100%; position:absolute; margin-left: 10%;">
    <div class="re-bp1-headerloggedin">
      <div class="bp1-background">
      </div>
      <div class="bp1-headerbase">
        <div class="bp1-background1">
        </div>
        <div class="bp1-base">
          <img src="assets/img/dashboard-pickups-pending-background.png" class="bp1-background2" />
          <a href="/">
            <div class="bp1-logo">
              <div class="bp1-background3">
              </div>
              <div class="bp1-group">
                <div class="bp1-group2">
                  <img src="assets/img/request-pickup-fill-559@2x.png" class="bp1-fill559" />
                  <img src="assets/img/request-pickup-fill-557@2x.png" class="bp1-fill557" />
                  <img src="assets/img/authetication-get-otp-fill-569@2x.png" class="bp1-fill569" />
                </div>
                <img src="assets/img/dashboard-pickups-pending-fill-561@2x.png" class="bp1-fill561" />
                <div class="bp1-group3">
                  <img src="assets/img/dashboard-pickups-pending-fill-563@2x.png" class="bp1-fill563" />
                  <img src="assets/img/authetication-get-otp-fill-565@2x.png" class="bp1-fill565" />
                  <img src="assets/img/authetication-get-otp-fill-567@2x.png" class="bp1-fill567" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="bp1-menu1">
          <div class="bp1-aboutus"  (click)="takeHomeAt('auweb')">
            About us
          </div>
          <div class="bp1-faq" (click)="takeHomeAt('faqweb')">
            FAQ
          </div>
          <div class="bp1-whyreuse" (click)="takeHomeAt('wrweb')">
            Why reuse?
          </div>
          <div class="bp1-howitworks" (click)="takeHomeAt('hiwweb')">
            How it works?
          </div>
        </div>
      </div>
      <div class="bp1-menu">
        <div class="bp1-myaccount">
          <button mat-button [matMenuTriggerFor]="menu">
            <span class="bp1-myaccount">My Account</span>
            <mat-icon aria-hidden="true" role="img" class="menu-arrow mat-icon notranslate material-icons mat-icon-no-color">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="dropdown">
            <button mat-menu-item (click)="openREScreen('PICKUPS')">My Deposits</button>
            <button mat-menu-item (click)="signOutFromRE()">Sign Out</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="rewards-earned-form-container">
      <div class="parent-re-custom-header">
        <div class="header-container" style="padding-bottom: 30px">
          <div class="header-text re-text-left">
            Deposit Refunded
          </div>
          <div class="header-hint re-text-left">
            It may take upto 4 hours to credit your account
          </div>
        </div>
        <div class="header-container">
          <div class="header-text re-text-left re-money-text">
            &#x20b9; {{rewardsEarned}}
          </div>
        </div>
      </div>
      <mat-tab-group style="padding-left: 30px; padding-top: 30px" [selectedIndex]="activeTabIdx">
        <mat-tab label="Pickups">
          <div style="padding-top: 30px">
            <div *ngIf="pendingReqSpinner == true" style="overflow: hidden">
              <mat-spinner style="left: 45%"></mat-spinner>
            </div>
            <div *ngIf="!pendingReqSpinner && pendingPickups.length > 0">
              <h3 style="font-weight: 500">Pending Request(s)</h3>
              <div class="pending-requests-list">
                <div class="pending-request-box" *ngFor="let pendingPickup of pendingPickups">
  <!--              <div class="pending-request-box">-->
                  <div class="pending-request-money">
                    <span style="padding-left: 30px">
                      <div>
                        <h2><p>&#x20b9; {{pendingPickup.totalValue}}</p></h2>
  <!--                      <h2><p>&#x20b9; 100</p></h2>-->
                      </div>
                      <div>
                        <h2 style="font-size: 22px; font-weight: 400;" *ngIf="slotTodayOrTom(pendingPickup.startTime) === 'TODAY'">
                          <p>Today, {{pendingPickup.startTime | date: 'hh:mm aa'}} - {{pendingPickup.endTime | date: 'hh:mm aa'}}</p>
                        </h2>
                        <h2 style="font-size: 22px; font-weight: 400;" *ngIf="slotTodayOrTom(pendingPickup.startTime) === 'TOMORROW'">
                          <p>Tomorrow, {{pendingPickup.startTime | date: 'hh:mm aa'}} - {{pendingPickup.endTime | date: 'hh:mm aa'}}</p>
                        </h2>
                        <h2 style="font-size: 22px; font-weight: 400;" *ngIf="slotTodayOrTom(pendingPickup.startTime) === 'NONE'">
                          <p>{{pendingPickup.startTime | date: 'dd MMM yyyy, hh:mm aa'}} - {{pendingPickup.endTime | date: 'hh:mm aa'}}</p>
                        </h2>
  <!--                      <h1 style="font-size: 25px; font-weight: 400;"><p>Today 04:00 PM - 06:00 PM</p></h1>-->
                      </div>
                    </span>
                    <span style="padding-right: 30px">
                    <div>
                      <h4><p>{{pendingPickup.paymentType}} ({{currentUserService.excludeCountryCode("IND", pendingPickup.accountId)}})</p></h4>
  <!--                    <h4><p>Amazon Pay (123)</p></h4>-->
                    </div>
                    <div>
                      <mat-chip-list aria-label="Bags" style="float: right">
                        <mat-chip>{{pendingPickup.noOfBags}} Bags</mat-chip>
  <!--                      <mat-chip>10 Bags</mat-chip>-->
                      </mat-chip-list>
                    </div>
                  </span>
                  </div>
                  <div style="padding-left: 30px; padding-bottom: 30px; height: 40px">
                    <button class="cancel-button" [disabled]="!canCancel(pendingPickup)" (click)="cancelPendingPickup(pendingPickup)">Cancel</button>
                    <button class="submit-button" style="width: 165px !important;" (click)="openGetDepositDialog(pendingPickup)">Add Pickup Code</button>
  <!--                  <button class="submit-button" (click)="openGetDepositDialog({})">Get Deposit</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div style="padding-bottom: 20px" *ngIf="!pendingReqSpinner && (!pendingPickups || pendingPickups.length == 0)">
                <div style="margin-left: 50%; transform: translateX(-24%);">
                  <img src="assets/img/mobile-dashboard-pickups-completed-group-61@2x.png" style="height: 100px; width: 145px" />
                  <div style="padding-top: 15px">
                    <button class="submit-button" style="width: 160px;" (click)="navToReqPickup()">Request Pickup</button>
                  </div>
                </div>
              </div>
              <div style="margin-right: 20px; border-radius: 5px;"  *ngIf="completedPickups.length > 0">
                <h3 class="re-user-req-completed-header">Completed Request(s)</h3>
                <div class="pending-requests-list">
                  <div class="completed-request-box" *ngFor="let completedPickup of completedPickups">
                    <div class="pending-request-money">
                    <span style="padding-left: 30px">
                      <div>
                        <h2><p>&#x20b9; {{completedPickup.totalValue}}</p></h2>
                        <!--                      <h2><p>&#x20b9; 100</p></h2>-->
                      </div>
                      <div>
                        <h2 style="font-size: 22px; font-weight: 400;" *ngIf="slotTodayOrTom(completedPickup.startTime) === 'TODAY'">
                          <p>Today, {{completedPickup.startTime | date: 'hh:mm aa'}} - {{completedPickup.endTime | date: 'hh:mm aa'}}</p>
                        </h2>
                        <h2 style="font-size: 22px; font-weight: 400;" *ngIf="slotTodayOrTom(completedPickup.startTime) === 'TOMORROW'">
                          <p>Tomorrow, {{completedPickup.startTime | date: 'hh:mm aa'}} - {{completedPickup.endTime | date: 'hh:mm aa'}}</p>
                        </h2>
                        <h2 style="font-size: 22px; font-weight: 400;" *ngIf="slotTodayOrTom(completedPickup.startTime) === 'NONE'">
                          <p>{{completedPickup.startTime | date: 'dd MMM yyyy, hh:mm aa'}} - {{completedPickup.endTime | date: 'hh:mm aa'}}</p>
                        </h2>
                        <!--                      <h1 style="font-size: 25px; font-weight: 400;"><p>Today 04:00 PM - 06:00 PM</p></h1>-->
                      </div>
                    </span>
                      <span style="padding-right: 30px">
                    <div>
                      <h4><p>{{completedPickup.paymentType}} ({{currentUserService.excludeCountryCode("IND", completedPickup.accountId)}})</p></h4>
                      <!--                    <h4><p>Amazon Pay (123)</p></h4>-->
                    </div>
                    <div>
                      <mat-chip-list aria-label="Bags" style="float: right">
                        <mat-chip>{{completedPickup.noOfBags}} Bags</mat-chip>
                        <!--                      <mat-chip>10 Bags</mat-chip>-->
                      </mat-chip-list>
                    </div>
                  </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Profile">
          <div style="padding-top: 30px">
            <form [formGroup]="userProfileForm">
              <div class="form-line-multiple-fields">
                <div class="form-field form-field-padding">
                  <div class="form-label">Name</div>
                  <input matInput [className]="userProfileForm.get('name').errors && upFormSubmitted ? 'form-input field-border-error' : 'form-input'" formControlName="name" placeholder="Enter Name">
                  <span class="field-error-hint" *ngIf="userProfileForm.get('name').errors && upFormSubmitted">Name is required</span>
                </div>
                <div class="form-field">
                  <div class="form-label">Email</div>
                  <input matInput [className]="userProfileForm.get('email').errors && upFormSubmitted ? 'form-input field-border-error' : 'form-input'" formControlName="email" placeholder="Enter Email">
                  <span class="field-error-hint" *ngIf="userProfileForm.get('email').errors && upFormSubmitted">
                    <span *ngIf="userProfileForm.get('email').errors.required; else upInvalidEmailWeb">Email is required</span>
                    <ng-template #upInvalidEmailWeb>Email is invalid</ng-template>
                  </span>
                </div>
              </div>
              <div class="form-line-multiple-fields">
                <div class="form-line-multiple-fields form-field-padding">
                  <div class="form-field custom-short-field" style="padding-right: 20px">
                    <div class="form-label">Society</div>
                    <select formControlName="society" class="form-field-dropdown half-field" style="margin-top: 14px">
                      <option *ngFor="let society of societies" [value]="society.name">
                        {{society.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-field custom-short-field">
                    <div class="form-label">Flat Number</div>
                    <input [className]="userProfileForm.get('flatNumber').errors && upFormSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="flatNumber" type="text" placeholder="Ex T-102">
                    <span class="field-error-hint" *ngIf="userProfileForm.get('flatNumber').errors && upFormSubmitted">Flat Number is required</span>
                  </div>
                </div>
                <div class="form-line-multiple-fields">
                  <div class="form-field custom-short-field" style="padding-right: 20px">
                    <div class="form-label">Credit To</div>
                    <select formControlName="creditTo" class="form-field-dropdown half-field" (click)="changePaymentType()" style="margin-top: 14px">
                      <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.name">
                        {{paymentType.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-field custom-short-field">
                    <div class="form-label">Account Id</div>
                    <input [className]="userProfileForm.get('accountId').errors && upFormSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="accountId" type="text" placeholder="Enter account id">
                    <span class="field-error-hint" *ngIf="userProfileForm.get('accountId').errors && upFormSubmitted">
                      <span *ngIf="userProfileForm.get('accountId').errors.required; else upInvalidAccWeb">Account Id is required</span>
                      <ng-template #upInvalidAccWeb>Account Id is invalid</ng-template>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="padding-top: 45px; height: 40px">
            <button class="cancel-button" (click)="resetUserProfile()">Reset</button>
            <button class="submit-button" (click)="updateProfile()">Save</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
