.header-text {
  background-color: rgba(255,255,255,0.0);
  height: auto;
  width: auto;
  transform: rotate(0deg);
  font-family: "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size: 30.0px;
  color: rgba(0, 175, 70, 1.0) !important;
  text-align: center;
  line-height: 41.0px;
}

.header-hint {
  background-color: rgba(255,255,255,0.0);
  height: auto;
  padding-top: 10px;
  width: auto;
  transform: rotate(0deg);
  opacity: 0.7;
  font-family: "OpenSans-Regular", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 22.0px;
}
