@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400');

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('../fonts/Open Sans 600.ttf') format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/Open Sans regular.ttf') format("truetype");
}

.bp1-privacyterms {
  width               : 100%;
  min-width           : 1400px;
  height              : 100vh;
  min-height          : 2500px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(233, 242, 233, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 81px;
  width               : 1400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 1400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 1400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 88px;
  width               : 1408px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 1408px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 47px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo:hover {
  transform           : scale(1.1);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-background3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 31px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group2 .bp1-fill559 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group2 .bp1-fill557 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group2 .bp1-fill569 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-fill561 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 30px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group3 .bp1-fill563 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group3 .bp1-fill565 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 19px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-base .bp1-logo .bp1-group .bp1-group3 .bp1-fill567 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 18px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 27px;
  width               : 511px;
  position            : absolute;
  margin              : 0;
  left                : 650px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-aboutus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.29px;
  line-height         : 27.0px;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-aboutus:hover {
  transform           : scale(1.1);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-faq {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.29px;
  line-height         : 27.0px;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-faq:hover {
  transform           : scale(1.1);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-whyreuse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.29px;
  line-height         : 27.0px;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-whyreuse:hover {
  transform           : scale(1.1);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-howitworks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.29px;
  line-height         : 27.0px;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-headerbase .bp1-menu1 .bp1-howitworks:hover {
  transform           : scale(1.1);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-menu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 27px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 1220px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-menu .bp1-iconright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-menu .bp1-iconright .bp1-iconright1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .bp1-headerloggedin .bp1-menu .bp1-myaccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 175, 70, 1.0);
  text-align          : left;
  letter-spacing      : 0.29px;
  line-height         : 27.0px;
}
.bp1-privacyterms .bp1-headerloggedin .bp1-menu .bp1-myaccount:hover {
  transform           : scale(1.1);
}
.bp1-privacyterms .bp1-a4reownedbybyteni {
  background-color    : rgba(255,255,255,0.0);
  top                 : 220px;
  height              : auto;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span1 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span2 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span3 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span4 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span5 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span6 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span7 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span8 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span9 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span10 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span11 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span12 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span13 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span14 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span15 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span16 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span17 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span18 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span19 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span20 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span21 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span22 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span23 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span24 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span25 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : italic;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span26 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span27 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span28 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span29 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span30 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span31 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span32 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span33 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span34 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span35 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span36 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span37 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span38 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span39 {
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  color               : rgba(0, 181, 151, 1.0);
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span40 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span41 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span42 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span43 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span44 {

}
.bp1-privacyterms .bp1-a4reownedbybyteni .pt-bp1-span45 {
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  color               : rgba(0, 181, 151, 1.0);
}
.bp1-privacyterms .pt-bp1-text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 41px;
  width               : 471px;
  position            : absolute;
  margin              : 0;
  left                : 465px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-privacyterms .pt-bp1-text .pt-bp1-label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 175, 70, 1.0);
  text-align          : center;
  line-height         : 41.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@-moz-keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@-o-keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
.bp2-mobileprivacyterms {
  width               : 100%;
  min-width           : 360px;
  height              : 100vh;
  min-height          : 5470px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(232, 241, 233, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-mobileprivacyterms .bp2-headermobilelogin {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 100px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : -9px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 37px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo:hover {
  transform           : scale(1.1);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 113px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 24px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group2 .bp2-fill559 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group2 .bp2-fill557 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group2 .bp2-fill569 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-fill561 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 24px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group3 .bp2-fill563 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group3 .bp2-fill565 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 15px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-logo .bp2-group .bp2-group3 .bp2-fill567 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 14px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 20px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-menu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 19px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 249px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-menu .bp2-iconright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-menu .bp2-iconright .bp2-iconright1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-menu .bp2-myaccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 175, 70, 1.0);
  text-align          : left;
  letter-spacing      : 0.2px;
  line-height         : 19.0px;
}
.bp2-mobileprivacyterms .bp2-headermobilelogin .bp2-menu .bp2-myaccount:hover {
  transform           : scale(1.1);
}
.bp2-mobileprivacyterms .pt-bp2-text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 82px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-mobileprivacyterms .pt-bp2-text .pt-bp2-label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 175, 70, 1.0);
  text-align          : center;
  line-height         : 41.0px;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni {
  background-color    : rgba(255,255,255,0.0);
  top                 : 240px;
  height              : auto;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span1 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span2 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span3 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span4 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span5 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span6 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span7 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span8 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span9 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span10 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span11 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span12 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span13 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span14 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span15 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span16 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span17 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span18 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span19 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span20 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span21 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span22 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span23 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span24 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span25 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : italic;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span26 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span27 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span28 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span29 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span30 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span31 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span32 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span33 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span34 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span35 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span36 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span37 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span38 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span39 {
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  color               : rgba(0, 181, 151, 1.0);
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span40 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span41 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span42 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span43 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span44 {

}
.bp2-mobileprivacyterms .bp2-a4reownedbybyteni .pt-bp2-span45 {
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  color               : rgba(0, 181, 151, 1.0);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@-moz-keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@-o-keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@keyframes anima-reveal {
  0%

  {
    opacity: 0;
  }


  100%

  {
    opacity: 1;
  }
}
@media screen and (max-width: 1399px) {
  .bp2-mobileprivacyterms {
    display             : block;
  }
  .bp1-privacyterms {
    display             : none;
  }
}
@media screen and (min-width: 1400px) {
  .bp2-mobileprivacyterms {
    display             : none;
  }
  .bp1-privacyterms {
    display             : block;
  }
}
