<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
<body style="margin: 0;
 background: rgba(233, 242, 233, 1.0);">
<input id="anPageName" name="page" type="hidden" value="requestpickup"/>
<div class="bp2-mobilerequestpickup">
  <div style="width: 360px; height: 100%; position:relative; margin:auto;">
    <div class="bp2-headermobilelogin">
      <img src="/assets/img/mobile-dashboard-pickups-completed-background-2.png" class="bp2-background" />
      <a href="/">
        <div class="bp2-logo">
          <div class="bp2-background1">
          </div>
          <div class="bp2-group">
            <div class="bp2-group2">
              <img src="/assets/img/mobile-dashboard-pickups-completed-fill-559@2x.png" class="bp2-fill559" />
              <img src="/assets/img/mobile-dashboard-pickups-pending-fill-557@2x.png" class="bp2-fill557" />
              <img src="/assets/img/mobile-dashboard-pickups-completed-fill-569@2x.png" class="bp2-fill569" />
            </div>
            <img src="/assets/img/mobile-dashboard-pickups-pending-fill-561@2x.png" class="bp2-fill561" />
            <div class="bp2-group31">
              <img src="/assets/img/mobile-dashboard-pickups-completed-fill-563@2x.png" class="bp2-fill563" />
              <img src="/assets/img/mobile-dashboard-pickups-completed-fill-565@2x.png" class="bp2-fill565" />
              <img src="/assets/img/mobile-authetication-get-otp-fill-567@2x.png" class="bp2-fill567" />
            </div>
          </div>
        </div>
      </a>
      <img src="/assets/img/mobile-dashboard-pickups-pending-shape@2x.png"
           (click)="openMobileMenuDialog()" class="bp2-shape" />
      <div class="bp2-menu">
        <div class="bp2-myaccount">
          <button mat-button [matMenuTriggerFor]="menuMobile">
            <span class="bp2-myaccount">My Account</span>
            <mat-icon aria-hidden="true" role="img" class="menu-arrow mat-icon notranslate material-icons mat-icon-no-color">arrow_drop_down</mat-icon>
            <mat-menu #menuMobile="matMenu" class="rp-dropdown-mobile">
              <button mat-menu-item (click)="openREScreen('PICKUPS')">My Rewards</button>
              <button mat-menu-item (click)="signOutFromRP()">Sign Out</button>
            </mat-menu>
          </button>
        </div>
      </div>
    </div>
    <div class="pickup-form-container-mobile">
      <div class="rp-header-container-mobile">
        <div class="rp-header-text">
          Request Pickup
        </div>
        <div class="rp-header-hint">
          Place a request and our agent will come for pickup at your convenience
        </div>
      </div>
      <form class="pickup-form" [formGroup]="requestPickupValidations">
        <div class="form-line-mobile" style="padding-top: 10px">
          <div class="rp-form-field">
            <div class="form-label">Number of Bags</div>
            <input min="1" [className]="requestPickupValidations.get('noOfBags').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" matInput formControlName="noOfBags" type="number" placeholder="Number of Bags">
            <span  *ngIf="requestPickupValidations.get('noOfBags').errors && formSubmitted">
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('noOfBags').errors.required">Number of Bags is required</span>
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('noOfBags').errors.min">Number of Bags must be greater than 0</span>
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('noOfBags').errors.pattern">Number of Bags cannot have a decimal value</span>
            </span>
          </div>
          <div class="rp-form-field-mobile">
            <div class="form-label">Name</div>
            <input [className]="requestPickupValidations.get('name').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" matInput formControlName="name" type="text" placeholder="Enter name">
            <span class="field-error-hint" *ngIf="requestPickupValidations.get('name').errors && formSubmitted">Name is required</span>
          </div>
        </div>

        <div class="form-line-mobile">

          <div class="rp-form-field-mobile">
            <div class="form-label">Pickup Time</div>
            <select formControlName="pickupTimeSlot" class="form-field-dropdown" style="margin-top: 3px">
              <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot.id">
                {{timeSlot.day}}, {{timeSlot.startTime}} - {{timeSlot.endTime}}
              </option>
            </select>
          </div>

          <div class="rp-form-field-mobile" style="padding-top: 20px !important;">
            <div class="form-label">Email</div>
            <input [className]="requestPickupValidations.get('email').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" matInput formControlName="email" type="text" placeholder="Enter email">
            <span class="field-error-hint" *ngIf="requestPickupValidations.get('email').errors && formSubmitted">
              <span *ngIf="requestPickupValidations.get('email').errors.required; else invalidEmailWeb">Email is required</span>
              <ng-template #invalidEmailWeb>Email is invalid</ng-template>
            </span>
          </div>
        </div>

        <div class="form-line-mobile">
          <div class="rp-form-line-multiple-fields" style="margin-top: 0px">
            <div class="rp-form-field-mobile custom-short-field-mobile" style="padding-right: 20px">
              <div class="form-label">Society</div>
              <select formControlName="society" class="form-field-dropdown rp-half-field-mobile">
                <option *ngFor="let society of societies" [value]="society.name">
                  {{society.name}}
                </option>
              </select>
            </div>
            <div class="rp-form-field-mobile custom-short-field-mobile">
              <div class="form-label">Flat Number</div>
              <input [className]="requestPickupValidations.get('flatNumber').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="flatNumber" type="text" placeholder="Enter flat number">
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('flatNumber').errors && formSubmitted">Flat Number is required</span>
            </div>
          </div>
          <div class="rp-form-line-multiple-fields" style="margin-top: 0px">
            <div class="rp-form-field-mobile custom-short-field-mobile" style="padding-right: 20px">
              <div class="form-label">Credit &#x20b9; {{getAmt()}} To</div>
              <select formControlName="creditTo" class="form-field-dropdown rp-half-field-mobile">
                <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.name">
                  {{paymentType.name}}
                </option>
              </select>
            </div>
            <div class="rp-form-field-mobile custom-short-field-mobile">
              <div class="form-label">Account Id</div>
              <input [className]="requestPickupValidations.get('accountId').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="accountId" type="text" placeholder="Enter account id">
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('accountId').errors && formSubmitted">
                <span *ngIf="requestPickupValidations.get('accountId').errors.required; else rpInvalidAccMobile">Account Id is required</span>
                <ng-template #rpInvalidAccMobile>Account Id is invalid</ng-template>
              </span>
            </div>
          </div>
        </div>
      </form>
      <div class="footer-container-mobile">
        <button class="cancel-button"
                (click)="currentUserService.navToRewardsEarned()"
                style="margin-right: 20px !important; margin-left: -4px;">
          Cancel
        </button>
        <button class="submit-button" (click)="requestPickup()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="bp1-requestpickup">
  <div style="width: 1400px; height: 100%; position:relative; margin:auto;">
    <div class="rp-bp1-headerloggedin">
      <div class="bp1-background">
      </div>
      <div class="bp1-headerbase">
        <div class="bp1-background1">
        </div>
        <div class="bp1-base">
          <img src="/assets/img/dashboard-pickups-pending-background.png" class="bp1-background2" />
          <a href="/">
            <div class="bp1-logo">
              <div class="bp1-background3">
              </div>
              <div class="bp1-group1">
                <div class="bp1-group21">
                  <img src="/assets/img/request-pickup-fill-559@2x.png" class="bp1-fill559" />
                  <img src="/assets/img/request-pickup-fill-557@2x.png" class="bp1-fill557" />
                  <img src="/assets/img/authetication-get-otp-fill-569@2x.png" class="bp1-fill569" />
                </div>
                <img src="/assets/img/dashboard-pickups-pending-fill-561@2x.png" class="bp1-fill561" />
                <div class="bp1-group3">
                  <img src="/assets/img/dashboard-pickups-pending-fill-563@2x.png" class="bp1-fill563" />
                  <img src="/assets/img/authetication-get-otp-fill-565@2x.png" class="bp1-fill565" />
                  <img src="/assets/img/authetication-get-otp-fill-567@2x.png" class="bp1-fill567" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="bp1-menu1">
          <div class="bp1-aboutus" (click)="takeHomeAt('auweb')">
            About us
          </div>
          <div class="bp1-faq" (click)="takeHomeAt('faqweb')">
            FAQ
          </div>
          <div class="bp1-whyreuse" (click)="takeHomeAt('wrweb')">
            Why reuse?
          </div>
          <div class="bp1-howitworks" (click)="takeHomeAt('hiwweb')">
            How it works?
          </div>
        </div>
      </div>
      <div class="bp1-menu">
        <div class="bp1-myaccount">
          <button mat-button [matMenuTriggerFor]="menu">
            <span class="bp1-myaccount">My Account</span>
            <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color menu-arrow">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="dropdown">
            <button mat-menu-item (click)="openREScreen('PICKUPS')">My Rewards</button>
            <button mat-menu-item (click)="signOutFromRP()">Sign Out</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="pickup-form-container">
      <div class="rp-header-container">
        <div class="rp-header-text">
          Request Pickup
        </div>
        <div class="rp-header-hint">
          Place a request and our agent will come for pickup at your convenience
        </div>
      </div>
      <form class="pickup-form" [formGroup]="requestPickupValidations">
        <div class="rp-form-line-multiple-fields">
          <div class="rp-form-field">
            <div class="form-label">Number of Bags</div>
            <input min="1" [className]="requestPickupValidations.get('noOfBags').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" matInput formControlName="noOfBags" type="number" placeholder="Number of Bags">
            <span  *ngIf="requestPickupValidations.get('noOfBags').errors && formSubmitted">
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('noOfBags').errors.required">Number of Bags is required</span>
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('noOfBags').errors.min">Number of Bags must be greater than 0</span>
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('noOfBags').errors.pattern">Number of Bags cannot have a decimal value</span>
            </span>
          </div>
          <div class="rp-form-field">
            <div class="form-label">Pickup Time</div>
            <select formControlName="pickupTimeSlot"
                    class="form-field-dropdown" style="margin-top: 10px">
              <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot.id">
                {{timeSlot.day}}, {{timeSlot.startTime}} - {{timeSlot.endTime}}
              </option>
            </select>
          </div>
        </div>

        <div class="rp-form-line-multiple-fields">
          <div class="rp-form-field">
            <div class="form-label">Name</div>
            <input [className]="requestPickupValidations.get('name').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" matInput formControlName="name" type="text" placeholder="Enter name">
            <span class="field-error-hint" *ngIf="requestPickupValidations.get('name').errors && formSubmitted">Name is required</span>
          </div>
          <div class="rp-form-field">
            <div class="form-label">Email</div>
            <input [className]="requestPickupValidations.get('email').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" matInput formControlName="email" type="text" placeholder="Enter email">
            <span class="field-error-hint" *ngIf="requestPickupValidations.get('email').errors && formSubmitted">
              <span *ngIf="requestPickupValidations.get('email').errors.required; else invalidEmailWeb">Email is required</span>
              <ng-template #invalidEmailWeb>Email is invalid</ng-template>
            </span>
          </div>
        </div>

        <div class="rp-form-line-multiple-fields" style="padding-top: 10px">
          <div class="rp-form-line-multiple-fields" style="margin-top: 0px">
            <div class="form-field custom-short-field" style="padding-right: 20px">
              <div class="form-label">Society</div>
              <select formControlName="society" class="form-field-dropdown rp-half-field">
                <option *ngFor="let society of societies" [value]="society.name">
                  {{society.name}}
                </option>
              </select>
            </div>
            <div class="form-field custom-short-field">
              <div class="form-label">Flat Number</div>
              <input [className]="requestPickupValidations.get('flatNumber').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="flatNumber" type="text" placeholder="Enter flat number">
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('flatNumber').errors && formSubmitted">Flat Number is required</span>
            </div>
          </div>
          <div class="rp-form-line-multiple-fields" style="margin-top: 0px">
            <div class="form-field custom-short-field" style="padding-right: 20px">
              <div class="form-label">Credit &#x20b9; {{getAmt()}} To</div>
              <select formControlName="creditTo" class="form-field-dropdown rp-half-field" (change)="changePaymentType()">
                <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.name">
                  {{paymentType.name}}
                </option>
              </select>
            </div>
            <div class="form-field custom-short-field">
              <div class="form-label">Account Id</div>
              <input [className]="requestPickupValidations.get('accountId').errors && formSubmitted ? 'form-value field-border-error' : 'form-value'" style="width: 140px;" matInput formControlName="accountId" type="text" placeholder="Enter account id">
              <span class="field-error-hint" *ngIf="requestPickupValidations.get('accountId').errors && formSubmitted">
                <span *ngIf="requestPickupValidations.get('accountId').errors.required; else rpInvalidAccountIdWeb">Account Id is required</span>
                <ng-template #rpInvalidAccountIdWeb>Account Id is invalid</ng-template>
              </span>
            </div>
          </div>
        </div>
      </form>
      <div class="footer-container">
        <button class="cancel-button" (click)="currentUserService.navToRewardsEarned()">Cancel</button>
        <button class="submit-button" (click)="requestPickup()">Submit</button>
      </div>
    </div>
  </div>
</div>
</body>
